[Unit]
Description=Manager for Trusted Computing resources sockets

[Socket]
ListenStream=/run/tcsd/tcsd.socket
SocketUser=tss
SocketMode=0660
DirectoryMode=0755
