[Unit]
Description=Load Encryption keys
Requires=systemd-udev-trigger.service dev-tpm0.device
After=systemd-udev-trigger.service dev-tpm0.device
Before=cryptsetup-pre.target cryptsetup.target
DefaultDependencies=no
ConditionKernelCommandLine=rd.tpm.key

[Service]
Type=oneshot
ExecStart=/usr/bin/tpmkey
TimeoutSec=15
StandardError=journal+console
