[Unit]
Description=Load Encryption keys
Wants=tcsd.socket
Requires=systemd-udev-trigger.service
After=tcsd.socket sockets.target systemd-udev-trigger.service
Before=cryptsetup-pre.target
DefaultDependencies=No
ConditionKernelCommandLine=rd.tpm.key

[Service]
Type=oneshot
RuntimeDirectory=tpmkey
ExecStart=/usr/bin/tpmkey
TimeoutSec=15
